

<div >
<div class="row home">



		
           <nav style="margin-top: 65px; padding-bottom: 0;" class="navbar   fixed-top home-navbar">
  <div class="container">
    <div class="mx-auto">
    <h5>
       <img  src="/assets/truck-icon.png" style="width: 50px;height: 35px; margin-right:8px; " class="rounded" />
     Free Shipping on orders over $45 </h5></div>
</div></nav>  
  <div class="col-12  container1">
  	<h1 style="font-size:22px;">Welcome To</h1>
    <h1 style="margin-top: 0;">BubaHub</h1>
    
  	<li >
<ng-container *ngIf="!appUser">
            <a style="color: white;" class="nav-link " routerLink="/products">Shop Now</a></ng-container>
<ng-container *ngIf="appUser">
          <a style="color: white;" class="nav-link " routerLink="/products">Shop Now</a></ng-container>
<h3>Check Out our Collection</h3>
<p> <i class="down"></i></p>

  </div>




</div>







<div class="row cards" >
  <!-- <div class="col-3">
    <product-filter [category]="category"></product-filter>
  </div> -->
  <div class="col">

    <div class="row" *ngIf="cart$ | async as cart">
  <div class="container-fluid">
        <ng-container *ngFor="let p of filteredProducts; let i = 'index'">

          <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3 cards-col">

            <product-card  [product]="p" [shopping-cart]="cart"></product-card>
            <!-- <a class="btn btn-block" (click)="login()">Buy Now</a> -->
            
          </div>
          <div *ngIf="(i + 1) % 2 === 0" ></div>

        </ng-container>
    
  </div>

</div>


</div>

  <div class="container">
<div class="col-12" >
<ng-container *ngIf="!appUser">
            <a style="color: white;" class=" btn-block" routerLink="/products">Start Shopping</a></ng-container>
<ng-container *ngIf="appUser">
          <a style="color: white;" class=" btn-block" routerLink="/products">Start Shopping</a></ng-container>
 
</div>
</div>

</div>

</div>



