





<div class="row cards">
  <div class="col-2 filter">
    <product-filter [category]="category"></product-filter>
  </div>
  
    <div class="row" *ngIf="cart$ | async as cart">
      <div class="container">
        <ng-container *ngFor="let p of filteredProducts; let i = 'index'">
          <div class="col-md-5  pull-right">
            <product-card [product]="p" [shopping-cart]="cart"></product-card>
          </div>
          <div *ngIf="(i + 1) % 2 === 0"></div>
        </ng-container>
      </div>
  </div>
</div>

