
.sticky-top { 
  top: 90px;
  position: fixed;
   /*background: #7fa6dd;*/
   z-index: 0;
}



.basket-a {
	margin-right: 10px !important;
}
.list-group a {
	padding: 7px 20px;
	background: #009ddb;
	color: white;
	border: 1px solid #009ddb !important;
	width: 100%;

}
.list-group a:hover {
	
    background:#007daf !important;
}
.list-group {
border-radius: .4rem !important;
border-style: 1px solid white !important;

}

.cart {
	margin-left: 0px;
	/*margin-top:20px; */
	padding-top: 0;
	/*width: 60px;*/
	/*height: 0px;*/
	float: left;

}

.cart h5 {

}

.navbar {
padding-top: 10px;
padding-bottom: 10px;
background: none !important;
background: #009ddb !important;
border: none !important;
border-radius: .4rem;
margin-left: -59px;
width: 253px;
display: inline-flex;


}
.badge {
	/*float: left;*/
background: none;
color:white;
padding: 3px 7px;
font-size: 16px;

	/*margin-left: 7px;*/
}
a {
	color: black;
}





.active {
	 background-color: #007daf !important;
   /*background: #7fa6dd;*/
    color: #f4f1ea;
    border:none;
}

@media screen and (min-width: 370px) and (max-width: 666px){
 .list-group a {
 	text-align: center;
 	top:-13px;
 	padding-top: 5px;
 	padding-bottom: 5px;
 	margin-bottom: 0px;
 width: 100px;
 padding-left: 3px;
 padding-right: 2px;
 margin-left: -70px;
 font-size: 13px;
}
.badge {
font-size: 13px;

	/*margin-left: 7px;*/
}

a {
	color: black;
}


 }

@media screen and (min-width: 667px) and (max-width: 767px){


.list-group a {
 	text-align: center;
 	top:-13px;
 	padding-top: 3px;
 	padding-bottom: 3px;
 	margin-bottom: 0px;
 width: 200px;
 padding-left: 3px;
 padding-right: 2px;
 margin-left: -130px;
 font-size: 13px;
}
.badge {
font-size: 13px;

	
}

}
@media screen and (min-width: 768px) and (max-width: 1023px){


.list-group a {
 
 margin-left: -60px;
}

}


@media screen and (min-width: 1024px) and (max-width: 1279px){


.list-group a {
 
 margin-left: -25px;
}




}

@media screen and (min-width: 1280px) and (max-width: 1366px){


.list-group a {
 
 /*margin-left: -25px;*/
}




}












